html,
body {
	width: 623px;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url(./fonts/MaterialIcons.woff2) format("woff2");
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
  	font-size: 16px;
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

a {
  color: #FE3258;
  text-decoration: underline;
  cursor: pointer;
}

input,
label {
	display: block;
}

textarea{
  min-height:125px;
}

label {
	font-size: 12px;
	text-align: left;
	margin-bottom: 3px;
	font-weight: 500;
	height: 14px;
}

.topLevelDiv {
	display: none;
	text-align: center;
	margin: 24px;
        margin-bottom: 0;
        min-height: 490px;
        box-sizing: border-box;
}

#loadingDiv{
	display: block;
	padding-top: 160px;
}

.left {
	float: left;
}

.right {
	float: right;
	text-align: right;
}

#createChatDiv .left,
#createChatDiv .right {
	width: calc(50% - 12px);
}

#chatLinkDiv .left {
	width: 85%;
}

#chatLinkDiv > .row > .right {
	width: 7%;
}

#loginDiv {
	padding: 80px;
	padding-top: 150px;
}

.header {
	width: 100%;
	margin-bottom: 24px;
	display: inline-block;
}

.row {
	text-align: center;
	width: 100%;
	margin-bottom: 25px;
	display: inline-block;
}

input, textarea {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 21px;
	-webkit-appearance: none;
	margin: 0;
	border: 2px solid #f1f1f1;
	box-sizing: border-box;
	color: #262729;
	padding: 8px;
	height: 38px;
	border-radius: 5px;
	transition: border 0.3s ease-out;
	width: 100%;
	outline: none;
}

input:focus, textarea:focus {
	border: 2px solid #9c9c9c;
}

::-webkit-input-placeholder{
	color: lightgray;
}

select, #selected {
        text-align: left;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	cursor: pointer;
	box-sizing: border-box;
	height: 38px;
	line-height: 18px;
	width: 100%;
	color: #262729;
	background: #f1f1f1;
	border: 2px solid #f1f1f1;
	transition: background-color 0.3s ease-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out;
	border-radius: 5px 5px 5px 5px;
        padding: 8px;
	outline: none;
}

select:hover {
	border-color: #f1f1f1;
	background: #fff;
}

select:disabled{
  cursor: not-allowed !important;
  background: #f1f1f1;
}

h2 {
	font-family: "Roboto", sans-serif;
        font-weight: 100;
	line-height: 38px;
	padding: 0;
	font-size: 24px;
	margin: 0;
	float: left;
}

button{
	border-width: 0;
	margin: 0;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
	height: 38px;
	font-weight: bold;
	padding: 0 22px;
	transition-timing-function: ease-out;
	transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
	margin-right: 0;
	outline: none;
}

button.close-button, button.back-button{
  background: white;
  border: 1px solid #9C9C9C;
}

button.primary {
	background: #fe3258;
	color: #fff;
}

button.primary:hover {
	background: #fe5071;
}

button.primary:disabled {
	background: #fe3258;
	opacity: 0.2;
}

button.standard {
	margin: 0;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
	height: 38px;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	margin-right: 8px;
	color: #262729;
	border: 2px solid #f1f1f1;
	transition: background 0.3s ease-out, border-color 0.3s ease-out;
	padding: 0 32px;
	background: #fff;
	border-color: #f1f1f1;
	outline: none;
}

button.standard:hover {
	border-color: #f1f1f1;
	background: #f1f1f1;
}

#copyLinkBtnWithIcon {
	width: 44px;
	padding: unset;
	margin: unset;
	float: right;
	color: #fe3258;
}

.copiedConfirmation {
    display: none;
    float: left;
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    font-size: 14px;
    text-align: left;
    background: white;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    transition: opacity 1s ease-in;
}

#copiedAfterCreateConfirmation{
	display: none;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	width: 100% !important;
    margin-top: 10px;
}

#chatExists {
	font-family: "Roboto", sans-serif;
	display: none;
	font-size: 14px;
	text-align: center;
	top: 200px;
	left: 0px;
	width: 90%;
	margin-left: 20px;
	margin-right: 20px;
}

#chatExists > a {
	word-break: break-all;
}

.optional {
	font-size: 11px;
}

.spinner {
    display: inline-block;
    position: relative;
    width: 86px;
    height: 86px;
    cursor: wait;
}

.spinner div {
    position: absolute;
    border: 4px solid #E3E3E3;
    opacity: 1;
    border-radius: 50%;
    animation: spinner 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.spinner div:nth-child(2) {
    animation-delay: -0.75s;
}

@keyframes spinner {
    0% {
        top: 43px;
        left: 43px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 86px;
        height: 86px;
        opacity: 0;
    }
}

#logo{
	width: 100%;
	margin-bottom: 30px;
}

#find-email{
  text-align: left;
  width: 100%;
  display: inline-block;
  margin-top: 7px;
  color: #FE3258;
  text-decoration: underline;
  cursor: pointer;
}

#EventMessage{
  text-align: left;
  margin-top: 7px;
  width: 100%;
  white-space: nowrap;
}


#find-email.emails-found-grey, #EventMessage{
  color: #323232;
  text-decoration: none;
  cursor: default;
}

.with-dropdown select{
  width: 50px;
  float: right;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.with-dropdown #email{
  width: calc(100% - 50px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.copy-block h3{
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.copy-block a{
  padding: 12px;
}

.copy-block input{
  border: 0;
}

#chatLink{
  border: 1px solid #9C9C9C;
}

.copy-block input.left{
  width: 70% !important;
}

#address-template-region{
  border: 1px solid #9C9C9C;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}

#subject-template-region{
  border: 1px solid #9C9C9C;
  border-top: 0;
  margin-bottom: 0;
}

#template-customization{
  border: 1px solid #9C9C9C;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.inline-label{
  float: left;
  color: #9C9C9C;
  padding: 12px;
  margin-bottom: 0;
}

.customization{
  text-align: left;
  clear: both;
  padding: 8px;
}

.customization-inner{
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.customization-preview{
  padding-top: 8px;
  line-height: 18px;
  width: 400px;
}

.customization-inner select{
  width: 160px;
  padding-left: 8px;
  margin-right: 8px;
}

#copy-mailto{
  width: 100%;
  text-align: right;
  display: block;
  margin-top: 8px;
}

.check_circle{
  color: #6CFAA2;
  opacity: 0;
  transition: opacity 0.3s;
  vertical-align: middle;
  margin-right: 4px;
  margin-top: -5px;
}

#create-loading, #template-loading{
	margin-top: 8px;
	line-height: 22px;
	font-size: 14px;
}

.info{
 	color: #757575;
	margin-top: -5px;
}

.info:hover{
	cursor: help;
}

#no-company-linkedin{
  text-align: left;
  margin-top: 4px;
}

#note-text{
  text-align: left;
  padding-top: 20px;
}
